Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/jv-pkg/jv-type/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} JV Type</b></h1>
                    <p class="subtitle">
                        <a href="#!/jv-pkg/jv-type/list">
                            JV Type List
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.jv_type.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Information
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#field-configuration" data-toggle="tab" aria-expanded="true" class="filter">
                                            Field Configuration
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    JV Type Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.jv_type.name" name="name" placeholder="Enter JV Type Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Short Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.jv_type.short_name" name="short_name" placeholder="Enter Short Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Approval Flow Type <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.jv_type.approval_type_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Approval Flow Type">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a Approval Flow Type" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="approval_type.id" ng-repeat="approval_type in $ctrl.extras.approval_type_list | filter:searchTerm">{{approval_type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="form-control required" name="approval_type_id" id="approval_type_id" value="{{$ctrl.jv_type.approval_type_id}}">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Initial Status <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.jv_type.initial_status_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Initial Status">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm1" type="search" placeholder="Search for a Initial Status" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="approval_type_status.id" ng-repeat="approval_type_status in $ctrl.extras.approval_type_status_list | filter:searchTerm1">{{approval_type_status.status}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="form-control required" name="initial_status_id" id="initial_status_id" value="{{$ctrl.jv_type.initial_status_id}}">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Final Approved Status <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.jv_type.final_approved_status_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Final Approved Status">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm2" type="search" placeholder="Search for a Final Approved Status" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="approval_type_status.id" ng-repeat="approval_type_status in $ctrl.extras.approval_type_status_list | filter:searchTerm2">{{approval_type_status.status}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" class="form-control required" name="final_approved_status_id" id="final_approved_status_id" value="{{$ctrl.jv_type.final_approved_status_id}}">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-nxt">
                                                        Next
                                                    </a>
                                                    <button type="submit" class="btn btn-primary submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="field-configuration" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th>Title <sup class="mandatory">*</sup></th>
                                                            <th>Is Open <sup class="mandatory">*</sup></th>
                                                            <th>Editable <sup class="mandatory">*</sup></th>
                                                            <th>Value <sup class="mandatory">*</sup></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="hidden" name="jv_fields[0][field_id]" value="1420">
                                                                    <label>Journal</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-text form-group">
                                                                    <div class="tab-switch">
                                                                        <md-switch ng-model="$ctrl.jv_fields[0].is_open" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2" ng-change="onChangedIsOpen($ctrl.jv_fields[0].is_open,0);$ctrl.jv_fields[0].value='';$ctrl.jv_fields[0].is_editable='No';">
                                                                            {{ $ctrl.jv_fields[0].is_open }}
                                                                        </md-switch>
                                                                        <input type="hidden" name="jv_fields[0][is_open]" value="{{$ctrl.jv_fields[0].is_open}}">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-text form-group" ng-if="$ctrl.IsOpenYes0">
                                                                    <div class="tab-switch">
                                                                        <md-switch ng-model="$ctrl.jv_fields[0].is_editable" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2" ng-change="onChangedIsEditable($ctrl.jv_fields[0].is_editable,0);$ctrl.jv_fields[0].value='';">
                                                                            {{ $ctrl.jv_fields[0].is_editable }}
                                                                        </md-switch>
                                                                        <input type="hidden" name="jv_fields[0][is_editable]" value="{{$ctrl.jv_fields[0].is_editable}}">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <md-select ng-model="$ctrl.jv_fields[0].value" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Journal" ng-if="$ctrl.IsOpenYes0 && $ctrl.isEditableYes0">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a Journal" class="demo-header-searchbox md-text">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="journal.id" ng-repeat="journal in $ctrl.extras.journal_list | filter:searchTerm">{{journal.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" class="form-control type-sm" name="jv_fields[0][value]" id="value0" value="{{$ctrl.jv_fields[0].value}}">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="hidden" name="jv_fields[1][field_id]" value="1421">
                                                                    <label>From Account</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-text form-group">
                                                                    <div class="tab-switch">
                                                                        <md-switch ng-model="$ctrl.jv_fields[1].is_open" aria-label="Switch 2" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2" ng-change="onChangedIsOpen($ctrl.jv_fields[1].is_open,1);$ctrl.jv_fields[1].value='';$ctrl.jv_fields[1].is_editable='No';">
                                                                            {{ $ctrl.jv_fields[1].is_open }}
                                                                        </md-switch>
                                                                        <input type="hidden" name="jv_fields[1][is_open]" value="{{$ctrl.jv_fields[1].is_open}}">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-text form-group" ng-if="$ctrl.IsOpenYes1">
                                                                    <div class="tab-switch">
                                                                        <md-switch ng-model="$ctrl.jv_fields[1].is_editable" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2" ng-change="onChangedIsEditable($ctrl.jv_fields[1].is_editable,1);$ctrl.jv_fields[1].value='';">
                                                                            {{ $ctrl.jv_fields[1].is_editable }}
                                                                        </md-switch>
                                                                        <input type="hidden" name="jv_fields[1][is_editable]" value="{{$ctrl.jv_fields[1].is_editable}}">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <md-select ng-model="$ctrl.jv_fields[1].value" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select From Account" ng-if="$ctrl.IsOpenYes1 && $ctrl.isEditableYes1">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a From Account" class="demo-header-searchbox md-text">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="account.id" ng-repeat="account in $ctrl.extras.jv_account_type_list | filter:searchTerm">{{account.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" class="form-control type-sm" name="jv_fields[1][value]" id="value1" value="{{$ctrl.jv_fields[1].value}}">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="hidden" name="jv_fields[2][field_id]" value="1422">
                                                                    <label>To Account</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-text form-group">
                                                                    <div class="tab-switch">
                                                                        <md-switch ng-model="$ctrl.jv_fields[2].is_open" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2" ng-change="onChangedIsOpen($ctrl.jv_fields[2].is_open,2);$ctrl.jv_fields[2].value='';$ctrl.jv_fields[2].is_editable='No';">
                                                                            {{ $ctrl.jv_fields[2].is_open }}
                                                                        </md-switch>
                                                                        <input type="hidden" name="jv_fields[2][is_open]" value="{{$ctrl.jv_fields[2].is_open}}">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-text form-group" ng-if="$ctrl.IsOpenYes2">
                                                                    <div class="tab-switch">
                                                                        <md-switch ng-model="$ctrl.jv_fields[2].is_editable" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2" ng-change="onChangedIsEditable($ctrl.jv_fields[2].is_editable,2);$ctrl.jv_fields[2].value='';">
                                                                            {{ $ctrl.jv_fields[2].is_editable }}
                                                                        </md-switch>
                                                                        <input type="hidden" name="jv_fields[2][is_editable]" value="{{$ctrl.jv_fields[2].is_editable}}">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <md-select ng-model="$ctrl.jv_fields[2].value" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select To Account" ng-if="$ctrl.IsOpenYes2 && $ctrl.isEditableYes2">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a To Account" class="demo-header-searchbox md-text">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="account.id" ng-repeat="account in $ctrl.extras.jv_account_type_list | filter:searchTerm">{{account.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" class="form-control type-sm" name="jv_fields[2][value]" id="value2" value="{{$ctrl.jv_fields[2].value}}">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="4">
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">Previous</a>
                                                    <button type="submit" class="btn btn-primary submit">Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap