<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <form id="form" enctype="multipart-formdata" autocomplete="off">
        <input type="hidden" name="id" value="{{$ctrl.jv.id}}">
        <div class="page-header">
            <div class="page-header-inner">
                <div class="page-header-content-left">
                    <div class="page-header-content button-block">
                        <a href="#!/jv-pkg/journal-voucher/list" type="button" class="btn-back btn-img">
                            <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                        </a>
                    </div><!-- Page Header Content -->
                    <div class="page-header-content title-block">
                        <h1 class="title"><b>{{$ctrl.jv.action}} Journal Voucher</b></h1>
                        <p class="subtitle">
                            <a href="#!/jv-pkg/journal-voucher/list">
                                Journal Vouchers
                            </a> /
                            {{$ctrl.jv.action}}
                        </p>
                    </div><!-- Page Header Content -->
                </div><!-- Page Header Content Left -->
                <div class="page-header-content-right">
                    <div class="page-header-content">
                        <div class="form-group">
                            <div class="input-group date jvDatePicker" data-provide="datepicker">
                                <input type="text" name="date" ng-model="$ctrl.jv.date" class="form-control" placeholder="Select Invoice Date" value="{{$ctrl.jv.date}}" />
                                <div class="input-group-addon">
                                    <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                </div>
                            </div><!-- Input Group -->
                        </div><!-- Feild -->
                    </div><!-- Page Header Content -->
                </div><!-- Page Header Content Left -->
            </div><!-- Page Header Inner -->
        </div><!-- Page Header -->
        <!-- Page Main Content -->
        <div class="page-main-content form-content type2">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Info
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#from-account" data-toggle="tab" aria-expanded="true" class="filter">
                                            From Account
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#to-account" data-toggle="tab" aria-expanded="true" class="filter">
                                            To Account
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#amount" data-toggle="tab" aria-expanded="true" class="filter">
                                            Amount
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-text form-group">
                                                <label>
                                                    Type
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.jv.type" ng-change="jvTypeChanged($ctrl.jv.type.id);" placeholder="Select JV Type" md-on-close="clearSearchJvType()" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchJVType" type="search" placeholder="Search JV Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="type">
                                                        <md-option ng-value="type" ng-repeat="type in $ctrl.jv_type_list | filter:searchJVType">
                                                            {{type.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="type_id" value='{{$ctrl.jv.type.id}}' class="required">
                                            </div><!-- Feild -->
                                        </div>
                                        <!-- ------- -->
                                        <input type="hidden" value="{{$ctrl.jv.journal.id}}" name="journal_id" />
                                        <div class="col-md-3" ng-if="$ctrl.jv.type && !$ctrl.jv.type.journal_editable">
                                            <div class="input-text form-group">
                                                <label>
                                                    Journal
                                                </label>
                                                <b>{{$ctrl.jv.journal.name}}</b>
                                            </div>
                                        </div>
                                        <!-- ------- -->
                                        <div class="col-md-4" ng-if="$ctrl.jv.type.journal_editable">
                                            <div class="input-text form-group">
                                                <label>
                                                    Journal
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.jv.journal" placeholder="Select Journal" ng-change="onSelectedJournal($ctrl.jv.journal.id);" md-on-close="clearSearchJournal()" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchJournal" type="search" placeholder="Search Journal" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="journal">
                                                        <md-option ng-value="journal" ng-repeat="journal in $ctrl.journal_list | filter:searchJournal">
                                                            {{journal.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="journal_id" value='{{$ctrl.jv.journal.id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- ------------------- -->
                                        <input type="hidden" name="from_account_type_id" id="from_account_type_id" value='{{$ctrl.jv.from_account_type.id}}' class="required">
                                        <div class="col-md-3" ng-if="$ctrl.jv.type && !$ctrl.jv.type.from_account_type_editable">
                                            <div class="input-text form-group">
                                                <label>
                                                    From Account Type
                                                </label>
                                                <b>
                                                    {{$ctrl.jv.from_account_type.name}}
                                                </b>
                                            </div>
                                        </div>
                                        <!-- ------------------- -->
                                        <div class="col-md-4" ng-if="$ctrl.jv.type && $ctrl.jv.type.from_account_type_editable">
                                            <div class="input-text form-group">
                                                <label>
                                                    From Account Type
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.jv.from_account_type" ng-change="onSelectedFromAcc($ctrl.jv.from_account_type.id)" placeholder="Select From Account" md-on-close="clearSearchJournal()" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchFromAccount" type="search" placeholder="Search From Account" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="from_account">
                                                        <md-option ng-value="from_account" ng-repeat="from_account in $ctrl.account_type_list | filter:searchFromAccount">
                                                            {{from_account.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="from_account_type_id" id="from_account_type_id" value='{{$ctrl.jv.from_account_type.id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- ------------------- -->
                                        <div class="col-md-2" ng-if="$ctrl.jv.type && !$ctrl.jv.type.to_account_type_editable">
                                        <input type="hidden" name="to_account_type_id" id="to_account_type_id" value='{{$ctrl.jv.to_account_type.id}}' class="required">
                                            <div class="input-text form-group">
                                                <label>
                                                    To Account Type
                                                </label>
                                                <b>
                                                    {{$ctrl.jv.to_account_type.name}}
                                                </b>
                                            </div>
                                        </div>
                                        <!-- ------------------- -->
                                        <div class="col-md-4" ng-if="$ctrl.jv.type && $ctrl.jv.type.to_account_type_editable">
                                            <div class="input-text form-group">
                                                <label>
                                                    To Account Type
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.jv.to_account_type" ng-change="onSelectedToAcc($ctrl.jv.to_account_type.id)" placeholder="Select To Account" md-on-close="clearSearchJournal()" data-md-container-class="selectdemoSelectHeader" ng-model-options="{trackBy: '$value.id' }">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchToAccount" type="search" placeholder="Search From Account" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="to_account">
                                                        <md-option ng-value="to_account" ng-repeat="to_account in $ctrl.account_type_list | filter:searchToAccount">
                                                            {{to_account.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="to_account_type_id" id="to_account_type_id" value='{{$ctrl.jv.to_account_type.id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- ------------------- -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-primary btn-min-wdth btn-nxt">
                                                        Next
                                                    </a>
                                                    <button type="submit" class="btn btn-primary submit">Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <!-- ------------------- -->
                            <!-- ------------------- -->
                            <!-- ------------------- -->
                            <div class="tab-pane fade" id="from-account" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <jv-form-header jv="$ctrl.jv"></jv-form-header>
                                            <div class="row">
                                                <!-- ------------------ -->
                                                <div class="col-md-4" ng-if="$ctrl.jv.from_account_type">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            From A/C Code
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <div class="autocomplete-refresh">
                                                            <md-autocomplete md-items="option in $ctrl.searchCustomer($ctrl.fromCustomerSearchText)" md-selected-item="$ctrl.from_account" md-search-text="$ctrl.fromCustomerSearchText" md-selected-item-change="customerSelected('fromAcc')" md-item-text="option.code" md-min-length="3" md-escape-options="clear" placeholder="Customer code / name" input-aria-labelledby="favoriteStateLabel" md-no-cache="false" ng-model-options="{trackBy: '$value.id' }">
                                                                <md-item-template>
                                                                    <span>
                                                                        {{option.name}} - {{option.code}}
                                                                    </span>
                                                                </md-item-template>
                                                                <md-not-found>
                                                                    No Customers matching "{{ctrl.fromCustomerSearchText}}" were found.
                                                                </md-not-found>
                                                            </md-autocomplete>
                                                            <input type="hidden" name="from_account_id" value="{{$ctrl.jv.from_account.id}}" class="required ">
                                                        </div>
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <!-- -------------- -->
                                                <div class="col-md-6" ng-if="$ctrl.jv.from_account_type">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            Type of Transfer 
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <div class="common-radio-button type-3">
                                                            <input type="radio" id="receipt" class="transfer_type" name="transfer_type" value="receipt" ng-model="$ctrl.jv.transfer_type" ng-click="onChangeTransferType('receipt')" />
                                                            <label for="receipt">
                                                                Receipt to Invoice
                                                            </label>
                                                            <input type="radio" class="transfer_type" id="invoice" name="transfer_type" value="invoice" ng-model="$ctrl.jv.transfer_type" ng-click="onChangeTransferType('invoice')" />
                                                            <label for="invoice">
                                                                Invoice to Receipt
                                                            </label>
                                                        </div>
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <!-- --------------- -->
                                                <div class="col-md-2" ng-show="$ctrl.jv.transfer_type == 'invoice'">
                                                    <div class="input-text form-group">
                                                        <label class="opacity-zero">
                                                            Get Invoices
                                                        </label>
                                                        <button type="button" class="btn btn-primary btn-square button" ng-click="getInvoices('from')">
                                                            Get Invoices
                                                        </button>
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <!-- ------------ -->
                                                <div class="col-md-3" ng-show="$ctrl.jv.transfer_type == 'receipt'">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            Receipt No
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter Receipt Number" autocomplete="off" ng-model="$ctrl.from_receipt_no" id="from_receipt_no" value="AL20ST0413865 ,AL20ST0467838">
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-3" ng-show="$ctrl.jv.transfer_type == 'receipt'">
                                                    <div class="input-text form-group">
                                                    <label style="visibility: hidden;">
                                                            Receipt No
                                                    </label>
                                                    <button type="button" class="btn btn-primary btn-square button" ng-click="$ctrl.getReceipt('from')">
                                                            Search / Add
                                                    </button>
                                                </div>
                                                </div>
                                                <!-- -------------------- -->
                                                <div class="col-md-12" ng-if="$ctrl.jv.transfer_type == 'invoice'">
                                                    <jv-invoices-table jv="$ctrl.jv">
                                                    </jv-invoices-table>
                                                </div><!-- Column -->
                                                <div class="col-md-12" ng-if="$ctrl.jv.transfer_type == 'receipt'">
                                                    <jv-receipts-table jv="$ctrl.jv">
                                                    </jv-receipts-table>
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">
                                                        Previous
                                                    </a>
                                                    <a class="btn btn-primary btn-min-wdth btn-nxt">
                                                        Next
                                                    </a>
                                                    <button type="submit" class="btn btn-primary submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <!-- ------------------- -->
                            <!-- ------------------- -->
                            <!-- ------------------- -->
                            <div class="tab-pane fade" id="to-account" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <jv-form-header jv="$ctrl.jv"></jv-form-header>
                                            <div class="row">
                                                <div class="col-md-3" ng-show="$ctrl.jv.to_account_type">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            To A/C Code
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <div class="autocomplete-refresh">
                                                            <md-autocomplete md-items="option in $ctrl.searchCustomer($ctrl.toCustomerSearchText)" md-selected-item="$ctrl.to_account" md-search-text="$ctrl.toCustomerSearchText" md-selected-item-change="customerSelected('toAcc')" md-item-text="option.code" md-min-length="3" md-escape-options="clear" placeholder="Customer code / name" input-aria-labelledby="favoriteStateLabel" md-no-cache="false" ng-model-options="{trackBy: '$value.id' }">
                                                                <md-item-template>
                                                                    <span>
                                                                        {{option.name}} - {{option.code}}
                                                                    </span>
                                                                </md-item-template>
                                                                <md-not-found>
                                                                    No Customers matching "{{ctrl.toCustomerSearchText}}" were found.
                                                                </md-not-found>
                                                            </md-autocomplete>
                                                            <input type="hidden" name="to_account_id" value="{{$ctrl.jv.to_account.id}}" class="required">
                                                        </div>
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-2" ng-show="$ctrl.jv.to_account_type && $ctrl.jv.transfer_type == 'receipt'">
                                                    <div class="input-text form-group">
                                                        <label class="opacity-zero">
                                                            Get Invoices
                                                        </label>
                                                        <button type="button" class="btn btn-primary btn-square button" ng-click="getInvoices('to')">
                                                            Get Invoices
                                                        </button>
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-3" ng-if="$ctrl.jv.transfer_type == 'invoice'">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            Receipt No
                                                        </label>
                                                        <input type="text" class="form-control" id="to_receipt_number" value="AL20ST0413865 ,AL20ST0467838" placeholder="Enter Receipt Number" autocomplete="off" ng-model="$ctrl.to_receipt_no">
                                                    </div><!-- Form Group -->
                                                </div>
                                                <div class="col-md-3" ng-if="$ctrl.jv.transfer_type == 'invoice'">
                                                    <div class="input-text form-group">
                                                        <label style="visibility: hidden;">
                                                            Receipt No
                                                        </label>
                                                    <button type="button" class="btn btn-primary btn-square button" ng-click="$ctrl.getReceipt('to')">
                                                        Search / Add
                                                    </button>
                                                </div>
                                                </div><!-- Column -->
                                                <div class="col-md-12" ng-show="$ctrl.jv.transfer_type == 'receipt'">
                                                    <jv-invoices-table jv="$ctrl.jv">
                                                    </jv-invoices-table>
                                                </div><!-- Column -->
                                                <div class="col-md-12" ng-show="$ctrl.jv.transfer_type == 'invoice'">
                                                    <jv-receipts-table jv="$ctrl.jv">
                                                    </jv-receipts-table>
                                                </div><!-- Column -->
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">
                                                        Previous
                                                    </a>
                                                    <a class="btn btn-primary btn-min-wdth btn-nxt">
                                                        Next
                                                    </a>
                                                    <button type="submit" class="btn btn-primary submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="amount" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <jv-form-header jv="$ctrl.jv"></jv-form-header>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            Transfer Amount
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="$ctrl.jv.amount" name="amount" id="transfer_amount" placeholder="Enter Amount" autocomplete="off" />
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-3">
                                                    <div class="input-text form-group">
                                                        <label>Reason <sup class="mandatory">*</sup></label>
                                                        <textarea class="form-control" rows="3" ng-model="$ctrl.jv.reason" name="reason" placeholder="Enter Reason" autocomplete="off" required=""></textarea>
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-6">
                                                    <div class="input-text form-group">
                                                        <label>
                                                            Remarks
                                                            <sup class="mandatory">*</sup>
                                                        </label>
                                                        <textarea class="form-control" rows="3" ng-model="$ctrl.jv.remarks" name="remarks" placeholder="Enter Remarks" autocomplete="off" required=""></textarea>
                                                        <!-- <input type="text" class="form-control" ng-model="$ctrl.jv.remarks" name="remarks" placeholder="Enter Remarks" autocomplete="off" required="" /> -->
                                                    </div><!-- Form Group -->
                                                </div><!-- Column -->
                                                <div class="col-md-12">
                                                    <div class="input-text form-group">
                                                        <label>Attachments</label>
                                                        <div class="jva-attachments">
                                                            <input type="file" class="image_uploadify" accept="/*" name="journal_attachments[]" multiple />
                                                        </div>
                                                        <input type="hidden" name="attachment_removal_ids" id="attachment_removal_ids" value="">
                                                    </div><!-- Form Group -->
                                                </div>
                                            </div><!-- Row -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">
                                                        Previous
                                                    </a>
                                                    <button type="submit" class="btn btn-primary submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </div><!-- Page Main Content -->
    </form>
</div><!-- Content Wrap -->
<!-- Drag & Drop File Upload Plugins -->
<script src="./public/theme/js/imageuploadify-jva.min.js"></script>